body {
    font-family: "Kumbh Sans", sans-serif !important;
    color: #000000 !important;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

header .logo {
    font-family: "Macondo Swash Caps", cursive;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-login {
    display: flex;
    justify-content: flex-end;
}

.InputContainer {
    border: 1px solid #868686;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.inputs {
    width: 100px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(0, 0, 0);
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;

}

.imgbuscar {
    width: 30px;
    height: 30px;
    opacity: 0.4;
    margin-right: 10px;
}

.search-bar input {
    width: 100%;

    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}



.logoimg {
    width: 40px;
    margin-right: 10px;
}

.usericon {
    width: 30px;
    margin-left: 10px;
}

.profile-img {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

#productos {
    min-height: 500px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    border-top: 1px solid #fff;
    color: #fff;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.footer div {
    flex: 1;
    text-align: center;
}

.footer .center p {
    margin: 0;
    font-size: 18px;
}

.footer .center .social-icons {
    margin-top: 10px;
}

.footer .center .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    width: 100%;
   }

.logofooter {
    font-family: "Macondo Swash Caps", cursive;
    font-size: 40px;
}

.imgtikita {
    width: 30px;
}

section {
    width: 100%;
    height: 100%;
}


.sidebar {
    width: 200px;
    padding: 20px;
    background-color: white;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

.search-bar input {
    width: 80%;
    color: #000;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 40px;
    outline: none;
    padding-left: 20px;
}

.search-bar input:active,
.search-bar input:focus {
    width: 80%;
    color: #313131;
    border: 1px solid #ddd;
    border-radius: 40px;
    outline: none;
}



.containermayor {
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.033);
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    max-width: 1000px;
    margin: 20px auto;
    cursor: pointer;
    transition: border 0.3s ease;
}

.containermayor:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    border: #000 1px solid;
}

.img-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border-radius: 8px;
    overflow: hidden;
}

.imgprod {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.textocardprod {
    padding: 15px;
    flex-grow: 1;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.product-description {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin: 0;
    padding-right: 10px;
}

.ctaproduct {
    width: 120px;
    height: 100px;
    text-align: center;
}

.precioproduct {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.btnproduct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnproductact {
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
}


.corazonlogoproducto{
    background-color: #000000;transition: background-color 0.3s ease;
}
.corazonlogoproducto:hover {
    background-color: #555;
}

.corazonlogoproducto.activo {
    background-color: rgb(255, 63, 63);
  }

.carritologoproducto{
    background-color: #000000;transition: background-color 0.3s ease;
}
.carritologoproducto:hover {
    background-color: #555;
}

.carritologoproducto,
.corazonlogoproducto {
    height: 30px;
    width: 30px;
    filter: none;
}

@media (max-width: 768px) {
    .containermayor {
        flex-direction: column;
        align-items: flex-start;
    }

    .ctaproduct {
        width: auto;
        text-align: left;
    }

    .img-container {
        max-width: 9800px;
    }
}

#no-results-message {
    text-align: center;
    padding: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}